server:
    port: 8888
spring:
    datasource:
        url: jdbc:mysql://localhost:3306/account
        username: root
        password: 123456
        driver-class-name: com.mysql.cj.jdbc.Driver
mybatis:
    mapper-locations: classpath:mapper/*Mapper.xml